<div class="ui sidebar vertical menu left thin visible bgNone">
    <% if(user) { %>
    <!--<img src="/img/<%= user.avatar %>" class="ui circular image">-->
    <img src="/img/d33a00e9ce1e8e9e5504b5e060ba5b52.jpg" class="ui circular image tiny" style="margin-left: 10%">
    <div class="item">
        <h5><%= user.name %> | <%= ({m: 'male', f: 'female', x: 'xx'})[user.gender] %></h5>
        <p class=""><%= user.bio %></p>
    </div>
    <% } else { %>
    <div class="item">
        <img src="/img/d33a00e9ce1e8e9e5504b5e060ba5b52.jpg" class="ui circular image tiny" style="margin-left: 10%">
        <h5>day_dreamer</h5>
        <p style="">If you smile when no one else is around, you really mean it.</p>
    </div>
    <% } %>
    <a class="item" href="/gallery">
        <i class="file image outline icon"></i> My Gallery
    </a>
    <a class="item" href="/music">
        <i class="music icon"></i>My Music
    </a>
    <div class="ui selection dropdown bgNone" style="border:none;">
        <input type="hidden" name="gender">
        <i class="dropdown icon"></i>
        <div class="default text">My Themes</div>
        <div class="menu backgrounds">
            <div class="item" data-value="1">bg1</div>
            <div class="item" data-value="2">bg2</div>
            <div class="item" data-value="3">bg3</div>
            <div class="item" data-value="4">bg4</div>
            <div class="item" data-value="5">bg5</div>
            <div class="item" data-value="6">bg6</div>
            <div class="item" data-value="7">bg7</div>
            <div class="item" data-value="8">bg8</div>
        </div>
    </div>
    <% if(user) { %>
    <a class="item" href="/user/<%= user._id %>/edit">
        <i class="sun icon"></i></i>Change Info
    </a>
    <a class="ui item" href="/signout"><i class="sign out  icon"></i>Logout </a>
    <% } else {%>
    <!--<a class="ui item" href="/signup">Sign Up </a>-->
    <a class="ui item" href="/signin"><i class="sign in icon"></i>Sign In </a>
    <% } %>
</div>